
@font-face {
    font-family: myFont;
    src: url(img/fonts/FontsFree-Net-HelveticaNeueLTCom-LtCn.ttf);
}
@font-face {
    font-family: fontFooter;
    src: url(img/fonts/HELVETICALTSTD-ROMAN.otf);
   
}

@font-face {
    font-family: gothamMedium;
<<<<<<< HEAD
    src: url(img/fonts/GOTHAM-MEDIUM.TTF);
=======
    src: url(img/fonts/GOTHAM-MEDIUM.ttf);
>>>>>>> a6f9fc11ed7b58c8c653e9ac695f1e077d278000
   
}

@font-face {
    font-family: lightHelvetica;
<<<<<<< HEAD
    src: url(img/fonts/HelveticaLTStd-Light.OTF);
=======
    src: url(img/fonts/HELVETICALTStd-Light.otf);
>>>>>>> a6f9fc11ed7b58c8c653e9ac695f1e077d278000
   
}

@font-face {
    font-family: boldHelvetica;
<<<<<<< HEAD
    src: url(img/fonts/HelveticaLTStd-Bold.OTF);
=======
    src: url(img/fonts/HelveticaLTStd-Bold.otf);
>>>>>>> a6f9fc11ed7b58c8c653e9ac695f1e077d278000
   
}





body{
    font-family: myFont !important;
 }
 

.footer h4, p, a, h6{
    font-family:fontFooter;
    font-size: 12pt;
 
}

footer a{
    text-decoration: none  !important;
    color:black !important;
    background-color:#ffffff;
}

.footer{
    height: 90vh;
<<<<<<< HEAD
}
=======
}

>>>>>>> a6f9fc11ed7b58c8c653e9ac695f1e077d278000
