
@font-face {
    font-family: myFont;
    src: url(img/fonts/FontsFree-Net-HelveticaNeueLTCom-LtCn.ttf);
}


body{
    font-family: myFont;
 }
 footer {
     font-family: 'Monserrat', sans-serif !important;
     
}

footer h6, p, a{
    font-size: 13px !important;
   
}

footer a{
    text-decoration: none  !important;
    color:black !important;
}
